html, body, .container, #sidebar, #mapContainer {
  height: 100%;
  margin: 0;
  background-color: white;
  overflow: hidden;
}

.container {
  display: flex;
  min-height: auto;
}

#sidebar {
  background: #E6E6E6;
  width: 400px;
  position: relative;
}

#mapContainer {
  flex-grow: 1;
}

.title{
  /* padding: 5px; */
  text-align: center;
  font-size: 32px;
}

.l_title{
  /* padding: 5px; */
  text-align: center;
}

.info{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  color: #46473E;
  font-weight: 1500px;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.legend{
  background-color: white;
  height: 150px;
  width: 400px;
  /* border: 3px inset; */
  border-color: black;
  align: center;
  position: absolute;
  margin-top: 30px;
}

.legend  span {
  border-radius: 50%;
  display: table-cell;
  vertical-align: center;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  padding: 8px;
}


#legend_div{
  margin-left: 32px;
}

.data_info{
  margin-top: 220px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 3px;
  color: #46473E;
  font-weight: 1500px;
  font-size: 14px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
